.form-group{
    border-bottom: 1px solid green;
    padding:10px;
}
.form-group label{
    display:inline-block;
    width:100px;
}
.form-group input{
    width: 60%;
} 
.form-group input[type=radio]{
    width: 5%;
}

.form-group input[type=submit]{
    width: 75px;
    height:25px;
    border:none;
    background:#3366aa;
    color:white;
}
.error{
    color:red;
    border-bottom: 1px red dashed;
}
.success{
    color:green;
    border-bottom: 1px green dashed;
}